<link rel="stylesheet" href="login.component.scss">

<section class="login">
  <form [formGroup]="formLogin">
   <div class="formated">
     <div class="username">
       <input type="text" pInputText placeholder="Email" id="email" formControlName="valueEmail" >
     </div>
     <div class="p-password">
       <p-password type="password" placeholder="Password" [feedback]="false" [toggleMask]="true" formControlName="valuePassword"></p-password>
     </div>
     <div class="p-button">
       <p-button type="button" label="Login" (click)="loginPost()"></p-button>
     </div>
   </div>
  </form>
</section>
